*{
    margin: 0;
    padding: 0;
    font-family: 'Cormorant Garamond', serif !important;
}

.top-band {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 15vw
}
  
.top-band svg {
    width: 60%;
    transform: rotate(90deg);
    fill: #2D6294;;
}
  
.page-logo-letters{
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 17vw;
    padding: 2vw;
  
}
  
.page-logo {
    width: 100%
}
  
.logo-name {
    background-color: transparent;
    position: absolute;
    top: 8vw;
    left: 0;
    bottom:0;
    padding: 10px 10px 10px 10px;
}
  
.logo-name h3 {
    font-family: Cormorant Garamond;
    font-weight: 700;
    color: white;
}
  
.main {
    font-size: 4.5vw;
}
  
.secondary {
    font-size: 2vw;
}

.text-body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
  
.text-body h1 {
    font-weight: 700;
    color: #2D6294;
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}
  
.text-body p {
    font-weight: 600;
    color: #2D6294;
    font-size: 20px;
    margin-top: 10px
}
  
.break {
    max-width: 90%;
    height: 3px;
    background-color: #A9A9A9;
    margin-left: auto;
    margin-right: auto;
}
  
.sub-heading h1 {
    font-family: Cormorant Garamond;
    font-weight: 700;
    color: #2D6294;
    text-align: center;
    font-size: 40px;
}
  
.showcase {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-family: Cormorant Garamond;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px;
  
}
  
.showcase-topic {
    max-width: 300px;
    background-color: #2D6294;
  
}
  
.showcase-topic img {
    width: 100%;
    margin: 0;
    padding: 0;
}
  
.showcase-blurb {
    max-width: 300px;
    padding: 20px;
    background-color: #2D6294;
    margin: 0;
}
  
.showcase-break {
    width: 100%;
    height: 2px;
    background-color: white;
}
  
.showcase-topic h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
}
  
.showcase-topic p {
    text-align: justify;
    font-weight: 600;
    margin-top: 10px;
    font-size: 18px;
  
}
  
.lower-showcase {
    max-width: 1000px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-around;
    align-items: center;
}
  
.lower-blurb {
    max-width: 60%;
    font-family: Cormorant Garamond;
    font-size: 20px;
    font-weight: 600;
    color: #2D6294;
    padding: 20px;
}
  
.lower-picture {
    max-width: 40%;
    padding: 20px;
}
  
.lower-picture img {
    width: 100%;
}

@media screen and (max-width: 800px) {
  
    .showcase {
        display: block;
    }
    
    .showcase-topic {
        max-width: 100%
    }
    
    .showcase-blurb {
        max-width: 100%;
    }
    
    .text-body p {
        text-align: justify;
    }
    
    
    
}
    
@media screen and (max-width: 600px) {
    .text-body h1 {
        font-size: 9vw;
        margin-top: 20px;
    }
    
    .text-body p {
        line-height: 1.5;
        font-size: 17px;
    }
    
    .lower-showcase {
        display: block;
    }
    
    .lower-blurb {
        max-width: 100%;
        font-size: 17px;
        text-align: justify;
        line-height: 1.5;
        padding: 0 20px 20px 20px;
    }
        
    .lower-picture {
        max-width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
}