* {
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Cormorant Garamond', serif;
    overflow-x: hidden;
}
  
  /* navigation styles start here */
  
.back-spacer {
    height: 80px;
    background-color: transparent;
}
  
.back-header {
    background: transparent;
    text-align: center;
    position: fixed;
    z-index: 2000;
    width: 100%;
    top: 0;
    font-weight: 700;
    transition: top 300ms;
}
  
  
  /* changed this from the tutorial video to
     allow it to gain focus, making it tabbable */
.back-nav-toggle {
    position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
  
.back-nav-toggle:focus ~ .back-nav-toggle-label {
    outline: 3px solid rgba(lightblue, .75);
}
  
.back-nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}
  
.back-nav-toggle-label span,
.back-nav-toggle-label span::before,
.back-nav-toggle-label span::after {
    display: block;
    background: #2D6294;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}
  
.back-nav-toggle-label span::before,
.back-nav-toggle-label span::after {
    content: '';
    position: absolute;
}
  
.back-nav-toggle-label span::before {
    bottom: 7px;
}
  
.back-nav-toggle-label span::after {
    top: 7px;
}
  
.back-nav svg {
    fill: #2D6294;
}
  
.back-nav svg:hover {
    fill: white;
}
  
.back-nav {
    position: absolute;
    text-align: right;
    top: 100%;
    left: 0;
    background: #2D6294;
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
    font-family: 'Cormorant Garamond', serif;
    
  
}
  
.back-list {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
}
  
.back-list-item {
    margin-bottom: 1em;
    margin-right: 20px;
  
}
  
.back-list-item a {
    color: #2D6294;
    text-decoration: none;
    font-size: 1.2rem;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
    transition-timing-function: ease-in-out;
}
  
.back-nav span:hover {
    color: white;
    background-color: #2D6294;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;
    transition: 500ms;
}
  
.back-nav-toggle:checked ~ .back-nav {
    transform: scale(1,1);
}
  
.back-nav-toggle:checked ~ .back-nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
    color: #2D6294;
  
}
  
.back-nav-toggle:checked ~ .back-list {
    background-color: white;
    border-bottom: 2px solid white;
}
  
.back-nav-toggle:checked ~ .back-list-item {
    border-bottom: 2px solid #F0F0F0;
}
  
.back-social-links li {
    border: none !important;
    display: inline !important;
    
}

  
@media screen and (min-width: 800px) {
    
    .back-nav-toggle-label {
      display: none;
    }
  
    .back-header {
      display: grid;
      grid-template-columns: 1fr auto minmax(300px, 3fr) 1fr;
      width: 100%;
    }
  
    .logo {
      align: left;
      height: 80px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-right: 5px;
      padding-left: 100px;
    }
  
    .back-spacer {
      width: 100%;
      height: 70px;
    }
  
    .back-nav {
      all: unset; /* this causes issues with Edge, since it's unsupported */
  
      /* the following lines are not from my video, but add Edge support */
      position: relative;
      text-align: left;
      transition: none;
      transform: scale(1,1);
      background: none;
      top: initial;
      left: initial;
      /* end Edge support stuff */
  
      grid-column: 4 / 5;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1vw;
      padding-top: 2vw;
      width: 100%;
    }
  
    .back-list {
      display: flex;
      margin-right: 50px;
    }
  
    .back-list-item {
      margin-right: 1em;
      margin-bottom: 0;
    }
  
    .back-list-item a {
      opacity: 1;
      position: relative;
    }
  

  
  
  
}
  
@media screen and (max-width: 800px) {
  
    .back-list-item a {
      color: #2D6294;
    }
  
    .back-nav svg {
      width: 100%;  
  
      fill: #2D6294;
    }
  
  
    .back-nav span:hover {
      color: #2D6294;
      background-color: white;
      padding: 0;
      border-radius: 0;
      transition: 0;
    }
  
    .back-nav svg:hover{
      fill:#2D6294;
    }

    .back-social-links {
        display: inline !important;
    }
  
}
  
